body {
	background: #0C0043;
}

.center-block {
  border-radius: 2%;
}


.center-block img {
	border-radius: 30px;
	background: #fff;
	margin-bottom: 30px;

}

.progress-bar {
  background-color: #00FF87;
}

.label {
    width: 10%;
    margin: 0 auto;
    padding: 7px;
}

.btn-primary {
    background-color: #FF015B;
    border-color: #FF015B;
}

.label-danger {
    background-color: #FF015B;
}

.label-success {
  background-color: #00FF87;
}

.logo {
  background: url('./imgs/logo.png');
  width: 100%;
  height: 35%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
}

.thumb {
	height: 106.5px;
	width: 106.5px;
	margin: 5px;
	margin-bottom: 16px;

}

.thumb img {
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    background-color: #D6D4D4 !important;
    border-color: #fff !important;
}

.card-container {
  perspective: 800px;
  position: relative;
   height: 106.5px;
  width: 106.5px;
  margin: 5px;
	margin-bottom: 16px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;;
  transition: transform 1s;
}

.card a {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
 
}

.progress {
  height: 30px;
}

.btn {
  width: 50%;
  margin: 0 auto;
}

.card .back {
  transform: rotateY( 180deg );
}

.flipped {
  transform: rotateY( 180deg );
}

.chosen {
	box-shadow: 0 0 50px #ffd700,0 0 150px #ffd700 !important;
}

.matched {
	visibility: hidden;
}

.center-block {
	text-align: center;
}

a.thumbnail {
	
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #0C0043 !important;
}