/* line 1, sass/style.scss */
.thumb {
  height: 106.5px;
  width: 106.5px;
  margin: 5px;
  margin-bottom: 16px;
}

/* line 11, sass/style.scss */
.card-container {
  perspective: 800px;
  position: relative;
  height: 106.5px;
  width: 106.5px;
  margin: 5px;
  margin-bottom: 16px;
}

/* line 20, sass/style.scss */
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* line 28, sass/style.scss */
.card a {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* line 37, sass/style.scss */
.card .back {
  transform: rotateY(180deg);
}

/* line 41, sass/style.scss */
.card .flipped {
  transform: rotateY(180deg);
}

/* line 45, sass/style.scss */
.chosen {
  box-shadow: 0 0 50px #ffd700,0 0 150px #ffd700 !important;
}

/* line 49, sass/style.scss */
.matched {
  visibility: hidden;
}

/* line 53, sass/style.scss */
.center-block {
  text-align: center;
}

/* line 61, sass/style.scss */
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: #0C0043 !important;
}
